body {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}
html,body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 36px;
	width: 100%;
	text-transform: uppercase;
	background: #2e354f;
	margin: 0;
	color: white;
	/*text-align: center;*/
}


.section-title {
	text-transform: uppercase;
	border-bottom: 1px solid grey;
	width: 100%;
	margin: 0 auto;
	padding: 10px;


}

.underlined {
	color: #ef5839;
}

.btn {
	text-decoration: none;
	color: white;
	font-weight: 900;
	background: #ef5839;
	display: inline-block;
	padding: 20px;
	}

.btn:hover {
	color: #2e354f;
	background: #d4b44c;
}
.container{

	width: 450px;
	margin: 0 auto;
}

/*.text{
	margin-bottom: 100px;
}*/
.about-section{
	margin-top: 100px;
	margin-bottom: 100px;
}

.contact-section{
	margin-bottom: 0px;
}

