body{

	margin: 0;
	font-family: 'Lato', sans-serif;
}


h1{
	 letter-spacing: 4px;
}
h2{
	color: #ffff;
	background: #2e354f;
	padding: 20px;
	margin-right: 275px;
	margin-left: 275px;
	text-transform: uppercase;

}

h3{
	text-transform: uppercase;
}

.container{
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

.is-bold{
	font-weight: bold;
}
.span-class{

	color: #ef5839;
}

.button a
{
	text-decoration: none;
	color: #ffff;
	background: #ef5839;
	padding: 10px;
	margin-top: 20px;
}

.button a:hover{
	color: #2e354f;
	background: #d4b44c;

}