html{
	--color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffd3b6; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    padding: 0;
    margin: 0;
}

body{

	
	padding: 50px;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #23E3C9;
	font-family: 'Lato' , sans-serif;


}

.container{


	margin: 0 auto;
	text-align: center;
	padding: 50px;
	width: 400px;
	background: #f3f3f3;


}
.players{
	width: 100%;
    display: flex;
    justify-content: space-around;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 80px;
    display: block;
    align-items: center;
    justify-content: center;


}

.dice img{
	width: 100%;
	height: 100%;
	
}

.show{
	display: none;
}


button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color: var(--color-5);
}

#resetBtn {
    background-color: var(--color-4);
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}

#resetgame{
	display: flex;
	float: right;
	height: 10px;
	cursor: pointer;

}
