@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body{
    /* margin: 10;
    padding: 10; */
    box-sizing: border-box;
    /* font-size: 18px; */
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Typography*/

.card{
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    background-color: #111D4A;
    display: flex;
    flex-direction: column;
    color: white;
}

.card-img{
    object-fit: cover;
    flex-basis: 200px;
    min-width: 0;
    min-height: 0;
}

.card-title,
.card-read-time,
.card-btn {
    font-family: 'Blinker', sans-serif;
}

.card-title{
    color: #05cBE9;
    font-size: 20px;
    margin: 0;
    
}
.card-content{
    
    padding: 20px;
}
.card-body{
    
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}
.card-read-time{
    opacity: .6;
    margin: 0;
    /* justify-content: left; */
}
span{
    font-size: 20px;
    font-weight: 700;
    display: block;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}
.card-btn{
    color: #111D4A;
    text-decoration: none; 
    font-weight: 700;
    background-color: #05cBE9;
    padding: 10px;
}

/*Media Query */

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    
    .card-img {
        height: 300px;
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
    }
    
    .card-title {
        font-size: 2.25rem
    }
    
    .card-body {
        font-size: 1.125rem;
        max-width: 500px;
    }
    
    .card-footer {
        margin-top: auto;
    }
}